.home-container {
    background-color: #0F172A;
}

.home-content {
    height: 200vh;
    color: black;
    align-items: center;

    .news {
        background-color: green;
        height: 30%;
    }

    .expert-view {
        background-color: blue;
        height: 20%;

    }
}