.forum-preview-block {
    .post-link:hover {
        background-color: #f1f1f1;
        border-radius: 0.25rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    }

    .btn-outline-custom {
        border-color: #e97f3c;
        color: #e97f3c;
    }

    .btn-outline-custom:hover {
        background-color: #e97f3c;
        color: #fff;
    }
}