.forum-preview-block {
    .post-link {
        border-bottom: 1px solid #a7a4a4;
    }

    .post-link:hover {
        background-color: #16243a;
        border-radius: 0.25rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    }

    .btn-outline-custom {
        border-color: #e97f3c;
        color: #e97f3c;
    }

    .btn-outline-custom:hover {
        background-color: #e97f3c;
        color: #fff;
    }

    .topic-card {
        background-color: #1c2e4a;
        color: #fff;
    }

    .card-title {
        font-style: italic;
    }
}